@import "grid"
@import "config"
@import url("http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css")

*
  font-family: 'Spoqa Han Sans', Sans-serif

// .header
//   background: #4d4b4a
//   margin: 0

.logo
  color: $point-c
  margin-top: 24px
  display: inline-block
  line-height: 1.5
